<a href="https://colab.research.google.com/github/nabrajgharti8-tech/2407080_Nabaraj_Gharti_AI/blob/main/Worksheet_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
import pandas as pd
import numpy as np

In [32]:
df = pd.read_csv("student.csv")

In [33]:
df.head()

   Math  Reading  Writing
0    48       68       63
1    62       81       72
2    79       80       78
3    76       83       79
4    59       64       62

In [34]:
df.tail()

     Math  Reading  Writing
995    72       74       70
996    73       86       90
997    89       87       94
998    83       82       78
999    66       66       72

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Math     1000 non-null   int64
 1   Reading  1000 non-null   int64
 2   Writing  1000 non-null   int64
dtypes: int64(3)
memory usage: 23.6 KB

In [36]:
df.describe()

              Math      Reading      Writing
count  1000.000000  1000.000000  1000.000000
mean     67.290000    69.872000    68.616000
std      15.085008    14.657027    15.241287
min      13.000000    19.000000    14.000000
25%      58.000000    60.750000    58.000000
50%      68.000000    70.000000    69.500000
75%      78.000000    81.000000    79.000000
max     100.000000   100.000000   100.000000

In [37]:
X = df.drop(columns=['Writing']).values
Y = df['Writing'].values

In [38]:
#Define a train-test split
def train_test_split(X, Y, test_size=0.3, random_seed=42):
  """
  Splits the dataset into train and test sets.
  Arguments:
  X: np.ndarray
     Feature Matrix
  Y: np.ndarray
     Test array
  test_size: float
     Proportion of the dataset to include in the test split.(0 < test_size < 1)
  random_seed: int
     Seed for reporducibility
  Returns:
  X_train, X_test, Y_train, Y_test: np.ndarray
     Training and testing splits of features and target.
  """
  np.random.seed(random_seed)
  indices = np.arange(X.shape[0])
  np.random.shuffle(indices)
  test_split_size = int(len(X) * test_size)
  test_indices = indices[:test_split_size]
  train_indices = indices[test_split_size:]
  X_train, X_test = X[train_indices], X[test_indices]
  Y_train, Y_test = Y[train_indices], Y[test_indices]
  return X_train, X_test, Y_train, Y_test

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3)
#Output shapes to verify
print("Shape of X_train: ", X_train.shape)
print("Shape of X_test: ", X_test.shape)
print("Shape of Y_train: ", Y_train.shape)
print("Shape of Y_test: ", Y_test.shape)

Shape of X_train:  (700, 2)
Shape of X_test:  (300, 2)
Shape of Y_train:  (700,)
Shape of Y_test:  (300,)

In [39]:
#Define the cost function
def cost_function(X, Y, W):
  """
  This function calculates the Mean Square Error
  X: Feature Matrix
  Y: Target Matrix
  W: Weight Matrix
  Output:
  cost: Accumulated Mean Square Error.
  """
  X = np.array(X, dtype=float)
  Y = np.array(Y, dtype=float).reshape(-1, 1)
  W = np.array(W, dtype=float).reshape(-1, 1)

  n = len(Y)
  Y_predicted = X @ W
  error = Y_predicted - Y
  MSE = (1 / (n)) * np.sum(error ** 2)
  return MSE

In [40]:
# Test case
X_test = np.array([[1, 2], [3, 4], [5, 6]])
Y_test = np.array([3, 7, 11])
W_test = np.array([1, 1])
cost = cost_function(X_test, Y_test, W_test)
if cost == 0:
  print("Proceed Further")
else:
  print("something went wrong: Reimplement a cost function")
print("Cost function output:", cost_function(X_test, Y_test, W_test))

Proceed Further
Cost function output: 0.0

In [41]:
def gradient_descent(X, Y, W, alpha=0.01, iterations=10):
  """
  Perform gradient descent to optimize the parameters of a linear regression model
  X (np.ndarray): Feature Matrix (m x n)
  Y (np.ndarray): Target vector (m x 1)
  W (np.ndarray): Initial guess for parameter (n x 1)
  aplha(float): Learning Rate
  iterations(int): Number of iterations for gradient descent
  Returns:
  tuple: A tuple containing the final optimized parameters (W_update) and the history of cost values.
  W_update (numpy.ndarray): Updated parameters (n x 1).
  cost_history (list): History of cost values over iterations.
  """
  X = np.array(X, dtype=float)
  Y = np.array(Y, dtype=float).reshape(-1, 1)
  W = np.array(W, dtype=float).reshape(-1, 1)
  cost_history = [0] * iterations
  m = len(Y)
  W_update = W.copy()
  for iterations in range(iterations):
    Y_prediction = X @ W_update
    loss = Y_prediction - Y
    dw = (1/ m) * (X. T @ loss)
    W_update = W_update - alpha * dw
    cost = cost_function(X, Y, W_update)
    cost_history[iterations] = cost
  return W_update, cost_history

In [42]:
# Generate random test data
np.random.seed(0) # For reproducibility
X = np.random.rand(100, 3) # 100 samples, 3 features
Y = np.random.rand(100)
W = np.random.rand(3) # Initial guess for parameters
# Set hyperparameters
alpha = 0.01
iterations = 10
# Test the gradient_descent function
final_params, cost_history = gradient_descent(X, Y, W, alpha, iterations)
# Print the final parameters and cost history
print("Final Parameters:", final_params)
print("Cost History:", cost_history)

Final Parameters: [[0.38576196]
 [0.91149014]
 [0.08672023]]
Cost History: [np.float64(0.21422394189320307), np.float64(0.21269761199879803), np.float64(0.21119652631361235), np.float64(0.20972025896641117), np.float64(0.2082683912857068), np.float64(0.2068405116780125), np.float64(0.2054362155081552), np.float64(0.2040551049816124), np.float64(0.20269678902883861), np.float64(0.2013608831915474)]

In [43]:
def rmse(Y, Y_prediction):
  """
  This Function calculates the Root Mean Squres.
  Input Arguments:
  Y: Array of actual(Target) Dependent Varaibles.
  Y_pred: Array of predeicted Dependent Varaibles.
  Output Arguments:
  rmse: Root Mean Square.
  """
  n = len(Y)
  Y = np.array(Y, dtype=float).reshape(-1, 1)
  Y_prediction = np.array(Y_prediction, dtype=float).reshape(-1, 1)
  rmse = np.sqrt(np.sum((Y - Y_prediction) ** 2)/n)
  return rmse

In [44]:
def r2(Y, Y_prediction):
  """
  This function calculates the R squared error.

  Input Arguments:
  Y: Array of actual target Dependent variables
  Y_pred: Array of predicted dependent variables

  Ouput:
  rsqaured: R squared error.
  """

  mean_y = np.mean(Y)
  Y = np.array(Y, dtype=float).reshape(-1, 1)
  Y_prediction = np.array(Y_prediction, dtype=float).reshape(-1, 1)
  ss_res = np.sum((Y - Y_prediction) ** 2)
  ss_tot = np.sum((Y - mean_y) ** 2)

  r2 = 1 - ss_res/ss_tot

  return r2

In [45]:
def main():
  data = pd.read_csv("student.csv")

  X = data[['Math', 'Reading']].values
  Y = data['Writing'].values

  X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_seed=42)

  W = np.zeros(X_train.shape[1])
  alpha = 0.00001
  iterations = 1000

  W_optimal, cost_history = gradient_descent(X_train, Y_train, W, alpha, iterations)

  Y_pred = np.dot(X_test, W_optimal)

  model_rmse = rmse(Y_test, Y_pred)
  model_r2 = r2(Y_test, Y_pred)

  print("Final Weights:", W_optimal)
  print("Cost History (First 10 iterations):", cost_history[:50])
  print("RMSE on Test Set:", model_rmse)
  print("R-Squared on Test Set:", model_r2)

if __name__ == "__main__":
  main()

#The model's performance is acceptable. The RMSE value is low (5.27), which indicates that the average perdiction error is small compared to the scale of the target variable.
#Additionally, the R-sqaured value is also high (0.88), meaning the model explains 88% of the variance in the target variable. Since the model performs well on unseen data and
#maintains low prediction error, it demonstrates good bias-variance tradeoff.

Final Weights: [[0.34811659]
 [0.64614558]]
Cost History (First 10 iterations): [np.float64(4026.33114156751), np.float64(3280.573665199384), np.float64(2674.1239989803175), np.float64(2180.9589785701155), np.float64(1779.9166540166468), np.float64(1453.788198601909), np.float64(1188.5794521617188), np.float64(972.910410590327), np.float64(797.5268927198968), np.float64(654.9034294649376), np.float64(538.9203346066114), np.float64(444.6010998377468), np.float64(367.89884529431805), np.float64(305.5226618439623), np.float64(254.79639321751188), np.float64(213.54379811205226), np.float64(179.9951643983342), np.float64(152.71136810749192), np.float64(130.5221184537744), np.float64(112.47573889417897), np.float64(97.79832925459796), np.float64(85.86055650778486), np.float64(76.15064914539283), np.float64(68.2524362919025), np.float64(61.82748918573267), np.float64(56.600598691583286), np.float64(52.34796566218664), np.float64(48.88759738009671), np.float64(46.07149797636643), np.float64(43.77931770521181), np.float64(41.913188555471606), np.float64(40.39352458716945), np.float64(39.15560677929319), np.float64(38.14680583946495), np.float64(37.32432380208031), np.float64(36.653357503490646), np.float64(36.10560512618174), np.float64(35.65805172550934), np.float64(35.2919816241145), np.float64(34.992175294374626), np.float64(34.74625626590684), np.float64(34.5441600329403), np.float64(34.377702171572864), np.float64(34.24022713417294), np.float64(34.126322650165086), np.float64(34.03158747770687), np.float64(33.95244254013151), np.float64(33.88597734273666), np.float64(33.829825079432055), np.float64(33.78206106988445)]
RMSE on Test Set: 5.2798239764188635
R-Squared on Test Set: 0.8886354462786421